body {
  font-family: Arial;
  margin: 50px;
}

h2 {
  margin: 0px;
}

.item {
  background-color: #111;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  color: #fff;
}

span {
  color: #febe01;
}

.indexp {
  color: #b2b2b2;
}

a {
  background: #febe01;
  color: #332100;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}
